

@font-face {
  font-family: 'helveticabold';
  src: url('../fonts/helvetica_bold-webfont.eot');
  src: url('../fonts/helvetica_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica_bold-webfont.woff2') format('woff2'),
  url('../fonts/helvetica_bold-webfont.woff') format('woff'),
  url('../fonts/helvetica_bold-webfont.svg#helveticabold') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'helvetica_lightregular';
  src: url('../fonts/helvetica-light-webfont.eot');
  src: url('../fonts/helvetica-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica-light-webfont.woff2') format('woff2'),
  url('../fonts/helvetica-light-webfont.woff') format('woff'),
  url('../fonts/helvetica-light-webfont.svg#helvetica_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

// Styles
// ------------------------------------

// first of all. Choose your options
$debug-mode:          false!default;
$use-breadcrumb:      false!default;
$use-pagination:      false!default;
$use-pager:           false!default;
$use-btn-color:       true!default;
$use-btn-group:       false!default;
$use-btn-size:        true!default;
$use-input-group:     false!default;
$use-split:           false!default;
$use-rules:           false!default;
$use-this-or-this:    false!default;
$use-has-feedback:    false!default;
$use-color-text:      true!default;
$use-table:           false!default;
$use-color-table:     false!default;
$use-column-table:    false!default;
$use-flexbox:         false!default;
$use-adaptive:        true!default;

// plugins
$use-animations:      false!default;

// Variables
@import "_variables";

// Util
@import "utils/_glob";

// Base
@import "base/_glob";

// Components
@import "components/_glob";

// Layout
@import "layout/glob";


// Vendors
@import "vendors/glob";

