.overlay

.modal.fade(id='call-id')
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
                h2 Заказ обратного звонка
            .modal-body
                .col-sm-8.center-block
                    form(method="post", action="formPHP/send.php", role='form', novalidate)
                        +fieldInput('text', 'name', 'name', 'Ваше имя', 'Введите ваше имя', true)
                        +fieldInput('text', 'phone', 'phone', 'Ваш телефон', 'Введите ваш телефон', true)
                        input.margtop30.text--uppercase.btn.btn--info.btn--sm.btn--block(type="submit", value="Перезвоните мне")

.modal.fade(id='send-id')
    .modal-dialog.modal-sm
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close.png", alt="")
                h2 Напишите нам
            .modal-body
                .col-sm-8.center-block
                    form(method="post", action="formPHP/send.php", role='form', novalidate)
                        +fieldInput('text', 'name', 'name', 'Ваше имя', 'Введите ваше имя', true)
                        +fieldInput('email', 'email', 'email', 'Ваша почта', 'Введите вашу почту', true)
                        +fieldTextarea('mess', 'mess', 'Ваш текст', 'Введите ваш текст', false)
                        input.margtop30.text--uppercase.btn.btn--info.btn--sm.btn--block(type="submit", value="отправить письмо")

.modal.fade(id='video-id')
    .modal-dialog.modal-sm
        .modal-content
            iframe(src="https://www.youtube.com/embed/UqEjFaCsE3M?rel=0", style="width:100%;vertical-align: middle;" allowfullscreen="", height="480", frameborder="0")