nav.navbar.navbar-fixed-top(role='navigation')
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#'): img(src="images/logo.png", alt="")
        .collapse.navbar-collapse.navbar-ex1-collapse.relative
            ul.anchor.nav.navbar-nav
                each href, item in navbar
                    li: a(href="#{href}", title="#{item}")= item
            .navbar-right.text--center.text--md--right.header__desc
                a.header__desc-phone(href="tel:84997032405") 8 (499) 703-24-05
