//
// Modules -> Navbars
// --------------------------------------------------


.navbar {
  position: relative;

  @include clearfix;
  @media (min-width: $screen-sm-min) {
    &.active {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}


// Navbar collapse (body)
.navbar-collapse {
  overflow-x: visible;
  padding-right: $navbar-padding-horizontal;
  padding-left: $navbar-padding-horizontal;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  @include clearfix;
  -webkit-overflow-scrolling: touch;

  &.in {
    overflow-y: auto;
  }

  @media (min-width: $screen-lg-min) {
    padding-top: 35px;
    width: auto;
    border-top: 0;
    box-shadow: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0; // Override default setting
      overflow: visible !important;
    }

    &.in {
      overflow-y: visible;
    }
  }
}

.container{
  > .navbar-header,
  > .navbar-collapse {
    margin-right: -$navbar-padding-horizontal;
    margin-left:  -$navbar-padding-horizontal;

    @media (min-width: $screen-lg-min) {
      margin-right: 0;
      margin-left:  0;
    }
  }
}


.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  // Undo the rounded corners
  @media (min-width: $screen-lg-min) {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

// Navbar toggle
.navbar-toggle {
  position: relative;
  float: right;
  margin-top: 28px;
  //margin-right: 15px;
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style
  border: 1px solid transparent;

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: 0;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #000;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  @media (min-width: $screen-lg-min) {
    display: none;
  }
}

.navbar-nav {
  //margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);
  text-align: center;
  > li > a {
    display: block;
  }
  // Uncollapse the nav
  @media (min-width: $screen-lg-min) {
    // float: left;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0;

    > li {
      float: none;
    }
  }
}


.navbar-fixed-top,
.navbar-fixed-bottom {
  .navbar-collapse {
    max-height: $navbar-collapse-max-height;

  }
}

.navbar-header {
  @include clearfix;
  height: 91px;

  @media (min-width: $screen-lg-min) {
    float: left;
    width: 20%;
  }
}


@media (min-width: $screen-lg-min) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;

  }
}
// Fix the top/bottom navbars when screen real estate supports it
.navbar-fixed-top,
.navbar-fixed-bottom {
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  // Undo the rounded corners
  @media (min-width: $screen-lg-min) {
    position: fixed;
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0; // override .navbar defaults
  border-width: 1px 0 0;
}
