//
// Modules -> Navs
// --------------------------------------------------

.nav {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  //margin-top: 17px;
  @include clearfix;
  > li {
    position: relative;
    display: block;
    padding: 7px 15px;

    @media (min-width: $screen-lg-min) {
      display: inline-block;
    }
    > a {
      position: relative;
      color: #fff;
      border-bottom: 2px solid transparent;
      text-transform: uppercase;
      padding: 10px;
      &.active,
      &:active,
      &:hover,
      &:focus {
        text-decoration: none;
        border-color: #42a6e1;
      }
      @media (min-width: $screen-lg-min) {
        display: inline-block;
        padding: 0;
      }
    }

  }
  // Prevent IE8 from misplacing imgs
  > li > a > img {
    max-width: none;
  }
}

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}