<!-- Modal -->
<div class="modal fade" id="MailMe" tabindex="-1" role="dialog" aria-labelledby="MailMeLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="MailMeLabel">Напишите мне письмо</h4>
            </div>
            <div class="modal-body">
                <form action="send.php" method="post" novalidate>
                    <div class="form-group">
                        <input name="name" type="text" class="form-control" required placeholder="Ваше имя" data-toggle="validator" data-label="Как вас зовут?">
                    </div>
                    <div class="form-group">
                        <input name="email" type="email" class="form-control" required placeholder="Ваш e-mail" data-toggle="validator" data-label="На e-mail я отправляю детальную информацию">
                    </div>
                    <div class="form-group">
                        <input name="phone" type="tel" class="form-control" required placeholder="Телефон" data-toggle="validator" data-label="Иногда мне проще позвонить вам">
                    </div>
                    <div class="form-group">
                        <textarea name="message" class="form-control" rows="6" required placeholder="Сообщение сюда" data-toggle="validator" data-label="Напишите сумму вложений, срок и желаемую прибыль."></textarea>
                    </div>
                    <button type="submit" data-success-modal="#ThanksModal" class="btn btn-primary btn-block">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="ThanksModal" tabindex="-1" role="dialog" class="modal fade">
    <div role="document" class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h3>Спасибо</h3>
                <p class="mar-20">Скоро я свяжусь с вами</p>
                <button data-dismiss="modal" aria-label="Close" class="btn btn-primary btn-lg btn-block">Закрыть</button>
            </div>
        </div>
    </div>
</div>