meta(charset="UTF-8")

block title
    title Case__fly

meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="")
meta(name="keywords", content="")

meta(name='author', content='SadDeploy')
link(rel="canonical" href="http://www.example.com/")
meta(name="format-detection", content="telephone=no")
meta(name="format-detection", content="address=no")

// Standard
link(rel="shortcut icon", href="favicon.ico")

// Styles
//- build:css({.tmp,app}) styles/plugins.css -->
// bower:css
// endbower
link(rel="stylesheet", href="../bower_components/slick-carousel/slick/slick.css")
link(rel="stylesheet", href="../bower_components/slick-carousel/slick/slick-theme.css")
//- endbuild -->
//- build:css({.tmp,app}) styles/main.css -->
link(rel="stylesheet", href="styles/main.css")
//- endbuild -->