//
// Partials -> Header
// ------------------------------------

.site-header {
  .navbar-fixed-top {
    background-color: #595959;
    @include box-shadow(0 3px 9px rgba(0,0,0,.5));
    @media (min-width: $screen-md-min) {
      @include box-shadow(none);
    }
  }
}
.navbar-brand {
  display: block;
  line-height: 67px;
  img {
    vertical-align: middle;}
}
.navbar-header {
  background-color: #fff;
  padding: 0 30px;
}

.header__desc {
  a {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
  &-phone {
    font-size: 24px;
    position: relative;
    z-index: 1;
  }
}