//
// Partials -> Main
// ------------------------------------

.site-main {
  overflow: hidden;
}

.titleLine {
  position: relative;
  margin-bottom: 40px;
  &:after {
    content: '';
    width: 66px;
    height: 1px;
    background-color: $brand-primary;
    position: absolute;
    bottom: -10px;
    left: 0;
  }
}

.tooltip {
  position: static !important;
}
.tooltip-inner {
  color: red;
  margin-top: 5px;
}

.topBar {
  background: url("../images/header-background.jpg") no-repeat center center, $brand-primary;
  padding-top: 200px;
  padding-bottom: 20px;
  color: #fff;
  h1 {
    margin-bottom: 40px;
    margin-top: 50px;
    color: #fff;
  }
  h3 {
    font-weight: 300;
    color: #fff;
    margin-bottom: 90px;
  }
  .btn {
    margin-bottom: 20px;
  }
}

.types {
  margin: 60px 0 20px;
  @media (min-width: $screen-md-min) {
    margin: 110px 0 80px;
  }
}
.slider {
  .list-line {
    padding: 0;
    list-style-type: none;
    li::before {
      content: '- ';
    }
  }
  .row {
    margin: 0;
  }
}

.features {
  padding: 20px 0;
  color: black;
  position: relative;
  @media (min-width: $screen-md-min) {
    padding: 60px 0 100px;
  }
  img {
    margin-top: 10px;
    @media (min-width: $screen-md-min) {
      margin-top: 90px;
    }
  }
  p {
    line-height: 24px;
    @media (min-width: $screen-md-min) {
      margin-bottom: 70px;
    }
  }
  .btn {
    width: 230px;
  }
}

.production {
  &-blockquote {
    border: 7px solid #f9cb32;
    padding: 20px;
    position: relative;
    @media (min-width: $screen-lg-min) {
      padding: 38px 70px;
    }
    h3 { margin-top: 0;}
    a {
      margin-top: 30px;
    }
    p {
      margin-bottom: 0;}
    p + p {
      margin-top: 20px;
    }
    img {
      position: absolute;
      bottom: 19px;
      right: 0;
      display: none;
      @media (min-width: $screen-md-min) {
        display: block;
      }
    }
  }
}

.delivery {
  padding: 20px 0 0;
  @media (min-width: $screen-md-min) {
    padding: 40px 0 0;
  }
  p {
    margin-bottom: 30px;
  }
  .btn {
    width: 230px;
  }
  .img {
    margin-top: 10px;
    @media (min-width: $screen-md-min) {
      margin-top: 100px;
    }
  }
}

.feedback {
  margin: 20px 0;
  @media (min-width: $screen-md-min) {
    margin: 90px 0;
  }
  &-blockquote {
    border: 7px solid #959595;
    padding: 20px;
    position: relative;
    @media (min-width: $screen-md-min) {
      padding: 38px 70px;
    }
    h3 { margin-top: 0;}
  }
}

.map {
  position: relative;
  color: #636363;
  &-map {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: url(grayscale.svg#old-timey);
  }
  &__inner {
    background: #fff;
    padding: 25px;
    @media (min-width: $screen-md-min) {
      width: 322px;

      position: absolute;
      top: 90px;
      right: 102px;
      z-index: 2;
    }
    a { color: #636363; margin-bottom: 7px;}
    b { color: #000;}
  }
}
.slick-prev,
.slick-next
{
  width: 56px;
  height: 56px;
  display: block;
  z-index: 10;
}
.slick-prev:before,
.slick-next:before
{
  width: 56px;
  height: 56px;
  display: block;
}
.slick-prev:before {
  content: '';
  background: url("../images/arrPrev.png") no-repeat center;
}
.slick-next:before {
  content: '';
  background: url("../images/arrNext.png") no-repeat center;
}
.slick-prev {
  left: -25px;
}
.slick-next {
  right: -25px;
}



.scroll{position:relative;display: inline-block;}
.scroll .note{position:absolute;left:40px;width:140px;margin-top:6px;opacity:.8}
.scroll span{display:block;width:12px;height:12px;-webkit-transform:rotate(45deg);transform:rotate(45deg);border-right:2px solid #fff;border-bottom:2px solid #fff;margin:0 0 3px 6px}
.scroll .unu{margin-top:6px}
.scroll .doi,.scroll .trei,.scroll .unu{-webkit-animation:c 1s infinite;-moz-animation:c 1s infinite}
.scroll .unu{-webkit-animation-delay:.1s;-moz-animation-delay:.1s}
.scroll .doi,.scroll .unu{-webkit-animation-direction:alternate}
.scroll .doi{-webkit-animation-delay:.2s;-moz-animation-delay:.2s}
.scroll .trei{-webkit-animation-delay:.3s;-moz-animation-delay:.3s;-webkit-animation-direction:alternate}
.scroll .mouse{height:36px;width:24px;border-radius:15px;-webkit-transform:none;transform:none;border:2px solid #fff;top:170px}
.scroll .wheel{height:5px;width:2px;display:block;margin:5px auto;background:#fff;position:relative;-webkit-animation:a 1.2s ease infinite;-moz-animation:a 1.2s ease infinite}

@-webkit-keyframes a{0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}to{opacity:0;-webkit-transform:translateY(6px);transform:translateY(6px)}}
@-webkit-keyframes b{to{opacity:0;-webkit-transform:translateY(0);transform:translateY(0)}0%{opacity:1;-webkit-transform:translateY(40px);transform:translateY(40px)}}
@-webkit-keyframes c{0%{opacity:0}50%{opacity:.5}to{opacity:1}}
@keyframes c{0%{opacity:0}50%{opacity:.5}to{opacity:1}}
