main.site-main
    #main.topBar
        .container.relative
            p.text--uppercase российское производство
            h1.text--uppercase Калибры промышленного
                br
                | назначения
            h3 Предлагаем производство калибров со сроком
                br
                | от 45 календарных дней.
            a.btn.btn--default.btn--lg(data-toggle="modal", href="#send-id") Сделать заказ
            .text--center.anchor
                //a(href="#types"): img(src="images/down-btn.png", alt="")
                a(href="#types").scroll
                    .note
                    .mouse
                        .wheel
                    div
                        span.unu
                        span.doi
    #types.types
        .container
            .slider
                div(data-text="промышленные калибры")
                    .row
                        .col.col-md-5.col-lg-7.col-xs-12.text--center
                            img(src="images/types-img.jpg", alt="")
                        .col.col-md-7.col-lg-4.col-xs-12
                            h2.text--primary.titleLine Калибры #[br] промышленные
                            p В любом ответственном и высокоточном промышленном производстве особое значение имеет контроль, исключающий появление брака. Контроль проводится как визуально, так и посредством точных приборов инструментов. В последнем случае контроль будет наиболее точным. Высокого качества изделий помогают достичь калибры промышленного назначения, выпускаемые по ГОСТу.
                                br
                                | В зависимости от конкретного предназначения каждый тип калибров имеет собственную кодировку, отображающую его применение.

                            p Калибры для метрической резьбы, производимые в соответствии с ГОСТ 24997-81, могут иметь следующие обозначения:
                            ul.list-line
                                li ПР (проходных кольца и рабочие пробки);
                                li НЕ (непроходные кольца и пробки);
                                li КИ (пробки для контроля колец ПР);
                                li КИ-НЕ (контркалибры, с помощью которых контролируется износ колец НЕ).
                div(data-text="Нефтянные калибры")
                    .row
                        .col.col-md-5.col-lg-7.col-xs-12.text--center
                            img(src="images/types-img.jpg", alt="")
                        .col.col-md-7.col-lg-4.col-xs-12
                            h2.text--primary.titleLine Нефтянные  #[br] калибры
                            p В любом ответственном и высокоточном промышленном производстве особое значение имеет контроль, исключающий появление брака. Контроль проводится как визуально, так и посредством точных приборов инструментов. В последнем случае контроль будет наиболее точным. Высокого качества изделий помогают достичь калибры промышленного назначения, выпускаемые по ГОСТу.
                                br
                                | В зависимости от конкретного предназначения каждый тип калибров имеет собственную кодировку, отображающую его применение.

                            p Калибры для метрической резьбы, производимые в соответствии с ГОСТ 24997-81, могут иметь следующие обозначения:
                            ul
                                li ПР (проходных кольца и рабочие пробки);
                                li НЕ (непроходные кольца и пробки);
                                li КИ (пробки для контроля колец ПР);
                                li КИ-НЕ (контркалибры, с помощью которых контролируется износ колец НЕ).
                div(data-text="Скобы")
                    .row
                        .col.col-md-5.col-lg-7.col-xs-12.text--center
                            img(src="images/types-img.jpg", alt="")
                        .col.col-md-7.col-lg-4.col-xs-12
                            h2.text--primary.titleLine Скобы
                            p В любом ответственном и высокоточном промышленном производстве особое значение имеет контроль, исключающий появление брака. Контроль проводится как визуально, так и посредством точных приборов инструментов. В последнем случае контроль будет наиболее точным. Высокого качества изделий помогают достичь калибры промышленного назначения, выпускаемые по ГОСТу.
                                br
                                | В зависимости от конкретного предназначения каждый тип калибров имеет собственную кодировку, отображающую его применение.

                            p Калибры для метрической резьбы, производимые в соответствии с ГОСТ 24997-81, могут иметь следующие обозначения:
                            ul
                                li ПР (проходных кольца и рабочие пробки);
                                li НЕ (непроходные кольца и пробки);
                                li КИ (пробки для контроля колец ПР);
                                li КИ-НЕ (контркалибры, с помощью которых контролируется износ колец НЕ).
    #production.production
        .container
            .col-lg-10.center-block
                .production-blockquote
                    .col-md-6.col-lg-7
                        h3 Изготовление инструмента
                        p Росийское производство промышленных и нефтянных калиброс со сроком от 45 календарных дней, согласно ГОСТ и чертежам заказчика
                        a.btn.btn--primary(data-toggle="modal", href="#send-id") сделать заказ
                    img(src="images/prod-1.png", alt="")
    .features
        .container
            .row
                .col.col-md-7.col-xs-12
                    a(data-toggle="modal", href="#video-id"): img(src="images/video.png", alt="")
                .col.col-xlg-3.col-lg-4.col-md-5.col-xs-12.margbot30
                    h2.text--primary.titleLine НАШИ #[br]ПРЕИМУЩЕСТВА
                    p В любом ответственном и высокоточном промышленном производстве особое значение имеет контроль, исключающий появление брака. Контроль проводится как визуально, так и посредством точных приборов инструментов. В последнем случае контроль будет наиболее точным. Высокого качества изделий помогают достичь калибры промышленного назначения, выпускаемые по ГОСТу.
                    a.btn.btn--primary(data-toggle="modal", href="#video-id") Смотреть видео


    .production
        .container
            .col-lg-10.center-block
                .production-blockquote
                    .col-md-6.col-lg-7
                        h3 Мы готовы к сотрудничеству
                        p Наше предприятие имеет огромный опыт сотрудничества с предприятиями машиностроительной и металлообрабатывающей отрасли.
                        p Мы с удовольствием помогаем развиваться посредническим торговым фирмам. Для торгующих фирм у нас имеются готовые варианты предложений по сотрудничеству
                    img(src="images/prod-2.png", alt="")
    #about.delivery
        .container
            .row
                .col.col-md-7.col-xs-12
                    img.img(src="images/delivery.png", alt="")
                .col.col-xlg-3.col-lg-4.col-md-5.col-xs-12
                    h2.text--primary.titleLine Оперативная #[br]доставка
                    p Мы осуществляем бесплатную доставку продукции до терминалов московских транспортных компаний.
                        br
                        | Мы работаем с такими крупными транспортными компаниями как:
                    img(src="images/delivery-ico.png", alt="")
                    p Территория доставки нашего инструмента - от Калининграда до Владивостока, от Мурманска до Астрахани, в любую точку России, где есть транспортное сообщение.
                    a.btn.btn--primary(data-toggle="modal", href="#send-id") Сделать заказ
    .feedback
        .container
            .col-lg-8.center-block
                .feedback-blockquote
                    h3 Напишите нам
                    form(method="post", action="formPHP/send.php", role='form', novalidate)
                        .row
                            .col.col-md-4.col-xs-12
                                +fieldInput('text', 'name', 'name', 'Ваше имя', 'Введите ваше имя', true)
                            .col.col-md-4.col-xs-12
                                +fieldInput('text', 'phone', 'phone', 'Ваш телефон', 'Введите ваш телефон', true)
                            .col.col-md-4.col-xs-12
                                +fieldInput('email', 'name', 'name', 'Ваша почта', 'Введите вашу почту', true)
                        .row
                            .col.col-xs-12
                                +fieldInput('text', 'name', 'name', 'Текст сообщения', 'Текст сообщения', false)
                        .text--center
                            button.btn.btn--success(type="submit") отправить сообщение
    #map.map
        .map__inner
            .text--center
                img(src="images/logo-f.png", alt="")
            h3 КОнтакты
            p: b Адрес:
            p 111141, Москва, Ул. Перовская дом 21
            p: b Контакты:
            p
                a(href="tel:84997032405") 8 (499) 703-24-05
            p: b Email:
            p: a(href="mailto:kalibrinfo@gmail.com") kalibrinfo@gmail.com
        .map-map
            script(type="text/javascript", charset="utf-8", src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=70TfINgigUSfO-rqRUGrH1L0pchDbfj4&amp;width=100%25&amp;height=590&amp;lang=ru_RU&amp;sourceType=constructor")