doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]>      <html class="no-js gt-ie9"> <![endif]-->
<!--[if !IE] <![IGNORE[--><!--[IGNORE[]]--> <html class="no-js noie">

include ../mixins/_mixin
- var title = { description: 'Главная' }

head
  meta(charset="utf-8")
  title Noob UI
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="format-detection", content="telephone=no")
  link(rel="shortcut icon", href="favicon.ico")

  //- build:css({.tmp,app}) styles/vendor.css -->
  // bower:css
  // endbower
  //- endbuild -->
  //- build:css({.tmp,app}) styles/main.css -->
  link(rel="stylesheet", href="/styles/main.css")
  //- endbuild -->

body

  include ../modules/_modal
  include ../modules/_header

  main
    block content

  include ../modules/_footer


  //- build:js(./app/) scripts/vendor.js -->
  // bower:js
  script(src='bower_components/jquery/dist/jquery.js')
  // endbower
  script(src='/scripts/plugins/bootstrap.min.js')
  script(src='/scripts/plugins/jquery.parallax.js')
  script(src="/scripts/plugins/under.js")
  script(src="/scripts/plugins/jquery.maskedinput.min.js")
  //- endbuild -->
  //- build:js(.tmp) scripts/main.js -->
  script(src="/scripts/main.js")
  //- endbuild -->
  script(src="formPHP/common.js")

| </html>
