//- Custom Configuration
block config
  - var baseUrl = '/'

doctype html

<!--[if lt IE 9]>
<html class='lt-ie8 no-js' lang='ru'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='ru'>
<!--<![endif]-->

include ../mixins/_mixins

head
  include ../partials/_head

block pageName
  -var pageName = "main"

body(class="page-#{pageName}")
  include ../components/_modals
  <!--[if lt IE 9]>
  p.browsehappy
    | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
    a(href="http://browsehappy.com/", target="_blank") современных браузеров.
    |  Это бесплатно и займет всего несколько минут.
  <![endif]-->

  //- header
  block siteHeader
  block siteMain
  block siteFooter

  block scripts
    <!--[if lt IE 9]>
    script(src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")
    <![endif]-->
    //- build:js(./app/) scripts/plugins.js -->
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/slick-carousel/slick/slick.js')
    // endbower
    script(src="scripts/plugins/bootstrap.min.js")
    script(src="/scripts/plugins/under.js")
    script(src="scripts/plugins/jquery.maskedinput.min.js")
    //- endbuild -->
    //- build:js(.tmp) scripts/main.js -->
    script(src="scripts/main.js")
    //- endbuild -->
    script(src="formPHP/common.js")


| </html>